.collection-preview {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
    .title {
        display: inline-block;
        border-bottom: 2px solid;
        margin-bottom: 25px;
        h1 {
            display: inline-block;
        }
    }
    .preview {
        display: flex;
        justify-content: space-between;
    }
}