.collection-item {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 22%;
    position: relative;
    .image {
        height: 95%;
        width: 100%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        & .custom-button {
            //  visibility: visible;
            opacity: 1;
            transition: opacity 0.5s linear;
        }
    }
    .collection-footer {
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        width: 100%;
    }
    .name {}
    .price {}
    .custom-button {
        width: 80%;
        opacity: 0.5;
        position: absolute;
        bottom: 20px;
    }
}