.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    .logo-container {
        .logo {
            width: 150px;
        }
    }
    .options {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .option {
            padding: 25px;
            cursor: pointer;
        }
    }
}